@font-face {
    font-family: 'MyPixelFont'; 
    src: url('fonts/mypixelfont.ttf') format('truetype'); 
}
body{
    font-family: 'Press Start 2P', cursive; 
    background-color: #000; 
    color: #00FF00; 
}

html {
    background-color: #111; 
    height: 100vh;
    font-family: 'MyPixelFont', sans-serif; 
}

/* Triangle */
#triangle {
    border-style: solid;
    border-width: 0 20vmin 34.64vmin 20vmin;
    border-color: transparent transparent #fff transparent; 
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    z-index: 1;
}

#triangle-inner {
    border-style: solid;
    border-width: 0 19.6vmin 33.94vmin 19.6vmin;
    border-color: transparent transparent #111 transparent;
    filter: blur(1vmin);
    height: 0;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    z-index: 1;
}


.hidden {
    opacity: 0;
    transition: opacity 1s ease;
}


#refracted-light > .ray {
    background-image: linear-gradient(90deg, #fff, #111);
    height: 1px;
    opacity: 0.5;
    position: fixed;
    right: calc(50vw - 0.5vmin);
    top: calc(50vh - 3.5vmin);
    transform-origin: top left;
    width: 8vmin;
    z-index: 1;
}

#refracted-light > .ray:nth-child(1) { transform: rotate(-9deg); }
#refracted-light > .ray:nth-child(2) { transform: rotate(-5deg); }
#refracted-light > .ray:nth-child(3) { transform: rotate(-1deg); }
#refracted-light > .ray:nth-child(4) { transform: rotate(3deg); }
#refracted-light > .ray:nth-child(5) { transform: rotate(7deg); }
#refracted-light > .ray:nth-child(6) { transform: rotate(11deg); }
#refracted-light > .ray:nth-child(7) { transform: rotate(15deg); }

html {
    background-color: #111; 
    height: 100vh;
}


#triangle {
    border-style: solid;
    border-width: 0 20vmin 34.64vmin 20vmin;
    border-color: transparent transparent #fff transparent; 
    height: 0;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    z-index: 1;
}

#triangle-inner {
    border-style: solid;
    border-width: 0 19.6vmin 33.94vmin 19.6vmin;
    border-color: transparent transparent #111 transparent; 
    filter: blur(1vmin);
    height: 0;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    z-index: 1;
}


.hidden {
    opacity: 0;
    transition: opacity 1s ease;
}


#refracted-light > .ray {
    background-image: linear-gradient(90deg, #fff, #111);
    height: 1px;
    opacity: 0.5;
    position: fixed;
    right: calc(50vw - 0.5vmin);
    top: calc(50vh - 3.5vmin);
    transform-origin: top left;
    width: 8vmin;
    z-index: 1;
}

#refracted-light > .ray:nth-child(1) { transform: rotate(-9deg); }
#refracted-light > .ray:nth-child(2) { transform: rotate(-5deg); }
#refracted-light > .ray:nth-child(3) { transform: rotate(-1deg); }
#refracted-light > .ray:nth-child(4) { transform: rotate(3deg); }
#refracted-light > .ray:nth-child(5) { transform: rotate(7deg); }
#refracted-light > .ray:nth-child(6) { transform: rotate(11deg); }
#refracted-light > .ray:nth-child(7) { transform: rotate(15deg); }



#white-light {
    background-color: #fff;
    box-shadow: 0 0 1px 1px #fff;
    height: 1px;
    right: 50vw; 
    position: fixed;
    top: calc(50vh - 5vmin);
  margin-top: 9.7%;
    transform: rotate(-10deg) scaleX(0);
    transform-origin: top left; 
    width: 55vw;
    transition: transform 2s ease;
}


#rainbow > .ray {
    height: 1vmin;
    left: 50vw;
    position: fixed;
    transform-origin: top left;
    width: 55vw;
    opacity: 0;
    transition: opacity 0.5s ease;
  
}

.red { background-color: red; top: calc(50vh - 6vmin); transform: rotate(8deg); }
.orange { background-color: orange;  top: calc(50vh - 5.5vmin); transform: rotate(9deg); }
.yellow { background-color: yellow; top: calc(50vh - 5vmin); transform: rotate(10deg); }
.green { background-color: yellowgreen;  top: calc(50vh - 4.5vmin); transform: rotate(11deg); }
.blue { background-color: skyblue; top: calc(50vh - 4vmin); transform: rotate(12deg); }
.violet { background-color: violet; top: calc(50vh - 3.5vmin); transform: rotate(13deg); }
.purple { background-color: mediumpurple; ; height: 0.25vmin; top: calc(50vh - 3vmin); transform: rotate(14deg); }


#rainbow > .ray {
    height: 4px;
    left: 50vw;
    position: fixed;
    transform-origin: top left;
    width: 55vw;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.red { background-color: red; box-shadow: 0 0 1vmin 1vmin red; top: calc(50vh - 6vmin); transform: rotate(8deg); }
.orange { background-color: orange; box-shadow: 0 0 1vmin 1vmin orange; top: calc(50vh - 5.5vmin); transform: rotate(9deg); }
.yellow { background-color: yellow; box-shadow: 0 0 1vmin 1vmin yellow; top: calc(50vh - 5vmin); transform: rotate(10deg); }
.green { background-color: yellowgreen; box-shadow: 0 0 1vmin 1vmin yellowgreen; top: calc(50vh - 4.5vmin); transform: rotate(11deg); }
.blue { background-color: skyblue; box-shadow: 0 0 1vmin 1vmin skyblue; top: calc(50vh - 4vmin); transform: rotate(12deg); }
.violet { background-color: violet; box-shadow: 0 0 1vmin 1vmin violet; top: calc(50vh - 3.5vmin); transform: rotate(13deg); }
.purple { background-color: mediumpurple; box-shadow: 0 0 1vmin 1vmin mediumpurple; height: 0.25vmin; top: calc(50vh - 3vmin); transform: rotate(14deg);}


.control-button {
    position: fixed;
   
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    padding: 12px;
    cursor: pointer;
}

#reload-button {
    top: 10px;
    left: 10px;
}

#go-back-button {
    top: 10px;
    right: 10px;
}

.blinking {
    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Press Start 2P', sans-serif; 
    font-size: 4vmin;
    color: #fff;
    opacity: 1;
    animation: blink 2s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


.mystyle {
  animation: fadein 1s;
    animation-fill-mode: forwards; 
  
}

@keyframes fadein {
    from { opacity: 1; }
    to { opacity: 0; }
}