@import url('https://fonts.cdnfonts.com/css/iron-maiden');

:root {
    --_icon-size: 3rem;
    --body-width: 1280px;
}

body {
    max-width: var(--body-width);
    padding: 0;
    margin: 0 auto;
    font-family: Arial, sans-serif; 
    background-color: #470d00; 
    color: #333; 
}



button {
    all: unset;
}

.header {
    display: flex;
    align-items: center;
    background-color: #000000; 
    color: #ffffff; 
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
}

.fancy-text {
    --bg-size: 400%;
    --color-one: hsl(0, 100%, 27%);
    --color-two: hsl(0, 98%, 60%);
    background: linear-gradient(
                  90deg,
                  var(--color-one),
                  var(--color-two),
                  var(--color-one)
                ) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 14s infinite linear;
    font-family: 'Iron Maiden', sans-serif; 
    font-size: 36px;
    font-weight: bolder;
    margin-right: auto;
    -webkit-text-stroke-width: 0.1px;
    position: relative;
  }
  

  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
  

.header img {
    height: 80px;
    image-rendering: pixelated; 
    margin-right: 20px;
}

.menu-icon img {
    width: var(--_icon-size);
    height: var(--_icon-size);
}

.menu-icon {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}

.dmicon {
    font-size: 3rem;
    transition: all 400ms ease-in-out;
}

.dmicon:hover, .menu-box:hover ~ .dmicon {
    filter: brightness(0) saturate(100%) invert(75%) sepia(46%) saturate(2202%) hue-rotate(90deg) brightness(107%) contrast(102%);
    font-size: 4rem;
    rotate: 180deg;
}

.menu-box {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 40px;
    transition: all 400ms cubic-bezier(.32, .75, .63, .88);
    transition-delay: 100ms;
    pointer-events: none;
    z-index: 1;
}

.menu-icon:hover .menu-box,
.menu-box:focus,
.menu-box:hover {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    right: 68px; 
}

.menu-links {
    display: flex;
    align-items: center;
}

 .menu-links a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-links a:hover {
    color: #ff3c3c; 
}

.content {
    padding-top: 20px;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.arrow-icon img {
    width: var(--_icon-size);
    height: var(--_icon-size);
}





.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-top: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.grid-item {
    border: 3px solid #00ff00; 
    border-radius: 10px;
    padding: 10px;
    background-color: #d8ffda; 
    box-shadow: 5px 5px 15px rgba(86, 1, 1, 0.3); 
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
}

.grid-item h2 {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.5em;
}

.grid-item img {
    max-width: 100%;
    height: 200px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.grid-item .description {
    margin-top: 10px;
    font-size: 14px;
    color: #4e4e4e; 
    text-align: justify;
    padding: 10px;
}

a.grid-item {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}
