@import url("https://fonts.cdnfonts.com/css/iron-maiden");
@import url('https://fonts.cdnfonts.com/css/ds-digital');
:root {
  --_icon-size: 3rem;
  --body-width: 1280px;
}

html {
  font-size: 100%;
 
}

*,*::before,*::after {
  box-sizing: border-box;
}




body {
  background-image: url(public/img/BG_LRS.png);
  image-rendering: pixelated;
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #470d00;
  color: #333;
  font-size: 1rem;
 
 backdrop-filter: blur(3px);
 
 
 
}

.container {
  max-width: var(--body-width);
  margin: 0 auto;
  
}

.flex-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.flex-layout > :last-child,
.flex-layout > :first-child {
  flex-basis: 15rem;
  flex-grow: 1;
}

.flex-layout .main-content {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 40%;
}

.flex-layout > :last-child,
.flex-layout > :first-child,
.flex-layout .main-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  all: unset;
}

img {
  display: block;
  max-width: 100%;
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  position: sticky;
  top: 0;
  padding: 10px;
  border-radius: 0 0 0.75rem 0.75rem;
  z-index: 1000;
}

.header .fancy-text {
  font-family: "Iron Maiden", sans-serif;
  font-size: 36px;
  font-weight: bolder;
  margin-right: auto;
  animation: move-bg 14s infinite linear;
}

.fancy-text {
  --bg-size: 400%;
  --color-one: hsl(0, 100%, 27%);
  --color-two: hsl(0, 98%, 60%);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 9s infinite linear;
  font-family: 'DS-Digital', sans-serif; 
  font-size: 36px;
}

.card .fancy-text{
  font-style: italic;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

.header img {
  height: 80px;
  image-rendering: pixelated;
  margin-right: 20px;
}

.menu-icon img {
  width: var(--_icon-size);
  height: var(--_icon-size);
}

.menu-icon {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

.dmicon {
  font-size: 3rem;
  transition: all 400ms ease-in-out;
}

.dmicon:hover,
.menu-box:hover ~ .dmicon {
  filter: brightness(0) saturate(100%) invert(75%) sepia(46%) saturate(2202%)
    hue-rotate(90deg) brightness(107%) contrast(102%);
  font-size: 4rem;
  rotate: 180deg;
}

.menu-box {
  display: flex;
  align-items: center;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  right: 40px;
  transition: all 400ms cubic-bezier(0.32, 0.75, 0.63, 0.88);
  transition-delay: 100ms;
  pointer-events: none;
  z-index: 1;
}

.menu-icon:hover .menu-box,
.menu-box:focus,
.menu-box:hover {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  right: 68px;
}

.menu-box a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-box a:hover {
  color: #ff3c3c;
}

.arrow-icon img {
  width: var(--_icon-size);
  height: var(--_icon-size);
}

.card {
  /* Some tests (maybe in the future)s
  font-family: 'DS-Digital', sans-serif; 
  font-weight:bold;
  font-size: large;
  */
  color: #ffffff;
  background: rgb(14, 14, 14);
  border: 6px double rgb(88, 88, 88);
  border-radius: 1.5rem;
  padding: 0.75rem;
  z-index: 10;
}

.image-cards{
  background: hsla(0, 0%, 0%, 0.205);
  border-radius: 0.75rem;
  padding: 0.75rem;
  justify-content: center; 
  gap: 12px; flex-wrap: wrap;
}

.banner {
  display: block;
  margin: auto;
  border-radius: 0.75rem;
}
.banner-guitars{
  display: block;
  margin: auto;
  
  
}


.footer {
  font-family: 'DS-Digital', sans-serif;                                  
  grid-area: footer;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  padding: 0.75rem;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.easter-button {

  image-rendering: pixelated;
  
}

.buttons{
height: 31px;
width:88px;
image-rendering: pixelated;
justify-content: center; 
  gap: 12px; flex-wrap: wrap;
}

.site-buttons{
  display: flex; 
  justify-content: center; 
  gap: 12px; flex-wrap: wrap;
  image-rendering: pixelated;
}

.link-icon {
  display: flex;
  background: rgb(203, 203, 203);
  padding: 0.50rem;
  width: fit-content;
  border: 2px solid rgb(157, 157, 157);
  border-radius: 0.5rem;
}

.link-icon img, .link-icon svg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
}

.tools-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
}